Mercury/
Mercury.modules
*.mh
*.err
*.init
*.dll
*.exe
*.a
*.so
*.dylib
*.beams
*.d
*.c_date
/.sync.ffs_db
*.ffs_db
*.idea
*.vscode
__pycache__/
Results/vel_figs/
Results/temp_figs/
DataAnalysis/Library/sitt/
*.dfsu
./dfs/
*.dfs1
*.dfs2
*.dfs3
.ipynb_checkpoints/
